.login-side{
    min-width: 450px;
    width: 45%;
}

.picture-side{
    width: 55%;
    
    .picture-side-logo{
        top: 80px;
        right: 80px;
        width: 65px;
        height: 65px;
    }
}